body {
    background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

@media all and (max-width: 1024px){
	body{
		background-size: auto;
	}
}

.navbar {
    opacity: 0.7;
}

.card {
    opacity: 0.9;
}

.editUser {
    color: dodgerblue;
    cursor: pointer;
}

.deleteUser {
    color: red;
    cursor: pointer;
}

.inner {
    background-image: url('../images/main.jpg');
    background-size: cover;
}

.inner-users {
    background-image: url('../images/users.jpg');
    background-size: cover;
}

.btn {
    font-weight: bold;
    border-style: none;
    font-size: 15px;
}

.logo {
    opacity: 0.7;
}

.logo:hover {
    opacity: 0.9;
}

.saveEditUser {
    display: none;
}
