body {
    background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

@media all and (max-width: 1024px){
	body{
		background-size: auto;
	}
}

.navbar {
    opacity: 0.7;
}

.card {
    opacity: 0.9;
}

.deleteAdmin {
    opacity: 0.8;
    color: red;
    cursor: pointer;
}

.deleteAdmin:hover {
    opacity: 1;
    color: red;
}

.editUser {
    opacity: 0.8;
    color: dodgerblue;
    cursor: pointer;
}

.sendMail {
    opacity: 0.8;
    color: rebeccapurple;
    cursor: pointer;
}

.sendMail:hover {
    opacity: 1;
    color: rebeccapurple;
}

.editUser:hover {
    opacity: 1;
    color: dodgerblue;
}

.deleteUser {
    opacity: 0.8;
    color: red;
    cursor: pointer;
}

.deleteUser:hover {
    opacity: 1;
    color: red;
}

.doAdmin {
    opacity: 0.8;
    color: darkgreen;
    cursor: pointer;
}

.doAdmin:hover {
    opacity: 1;
    color: darkgreen;
}

.inner {
    background-image: url('../images/main.jpg');
    background-size: cover;
}

.inner-users {
    background-image: url('../images/users.jpg');
    background-size: cover;
}

.inner-snake {
    background-image: url('../images/snake.jpg');
    background-size: cover;
}

.btn {
    font-weight: bold;
    border-style: none;
    font-size: 15px;
}

.logo {
    opacity: 0.7;
}

.logo:hover {
    opacity: 0.9;
}

.saveEditUser {
    color: forestgreen;
    opacity: 0.7;
    font-size: 18px;
}

.saveEditUser:hover {
    opacity :0.9;
}

.editUserForm {
    display: none;
    margin-bottom: -33px;
    margin-top: -7px;
    margin-left: -10px;
}
.users-span {
    display: none;
    position: relative;
    top: 11px;
    left: -7px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.purple {
    background-color: white;
    color: rebeccapurple;
    border-color: rebeccapurple!important;
}

.purple:hover {
    border-color: rebeccapurple!important;
    background-color: rebeccapurple;
    color: white;
}

.purple:visited, .purple:focus {
    box-shadow:0 0 0 .2rem mediumpurple;
}

.purple:active {
    background-color: rebeccapurple!important;
    box-shadow:0 0 0 .2rem mediumpurple;
}

.cancelEdit {
    display: none;
    cursor: pointer;
    color: #e00700;
    opacity: 0.7;
}

.cancelEdit:hover {
    opacity: 1;
}

#canvas {
    display: block;
    margin: 5px auto;
    border: 10px solid #657;
    color: black;
}

.my-logout:hover {
    color: lightgray!important;
}





