body {
    background-image: url('../images/background.jpg');
    background-size: auto;
}

.navbar {
    opacity: 0.7;
}

.card {
    opacity: 0.9;
}

#editUser {
    color: forestgreen;
    cursor: pointer;
}

#deleteUser {
    color: red;
    cursor: pointer;
}

.inner {
    background-image: url('../images/main.jpg');
    background-size: cover;
}

.inner-users {
    background-image: url('../images/users.jpg');
    background-size: cover;
}

.btn {
    font-weight: bold;
    border-style: none;
}